<div class="modal-header">
    <h4 class="modal-title">Share</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <i class="icon-ic_close_web_mobile"></i>
    </button>
</div>
<div class="modal-body drop-overflow">
    <ul class="row socialIcons">
        <li (click)="whatapp();activeModal.close('Close click')" class="text-md-center text-sm-center col-12 col-sm-3 col-md-3 soc-whatsapp">
            <div class="icon-circle d-inline-block">
                <i class="icon-ic_global_whatsapp_dark whatsappClr rounded-circle p-0 p-sm-3 p-md-3"></i>
            </div>
            <div class="social-text w-75 d-inline-block ml-4 ml-sm-0 ml-md-0">Whatsapp</div>
        </li>
        <li (click)="facebook();activeModal.close('Close click')" class="text-md-center text-sm-center col-12 col-sm-3 col-md-3 text-left text-sm-center text-md-center soc-facebook">
            <div class="icon-circle d-inline-block">
                <i class="icon-ic-global-facebook-dark fbClr rounded-circle p-0 p-sm-3 p-md-3"></i>
            </div>
            <div class="social-text w-75 d-inline-block ml-4 ml-sm-0 ml-md-0">Facebook</div>
        </li>
        <li (click)="twitter();activeModal.close('Close click')" class="text-md-center text-sm-center col-12 col-sm-3 col-md-3 text-left text-sm-center text-md-center soc-twitter">
            <div class="icon-circle d-inline-block">
                <i class="icon-ic_global_twitter_dark twrClr rounded-circle p-0 p-sm-3 p-md-3"></i>
            </div>
            <div class="social-text w-75 d-inline-block ml-4 ml-sm-0 ml-md-0">Twitter</div>
        </li>
        <li (click)="copyShareUrl();activeModal.close('Close click')" class="text-md-center text-sm-center col-12 col-sm-3 col-md-3 soc-twitter">
            <div class="icon-circle d-inline-block">
                <i class="icon-ic_global_copy_dark rounded-circle p-0 p-sm-3 p-md-3"></i>
            </div>
            <div class="social-text w-75 d-inline-block ml-4 ml-sm-0 ml-md-0">Copy URL</div>
        </li>
    </ul>
</div>