@import '../../../../../assets/css/var';
.scrollableSection {
    overflow-y: hidden;
    overflow-x: auto;
    flex-wrap: nowrap;
    scroll-behavior: smooth;
    -ms-overflow-style: none; /* IE 11 */
    scrollbar-width: none;
}

.insideGrid {
    cursor: pointer;
    overflow: hidden;
}

.prev,
.next {
    top: 58%;
}

.prev i,
.next i {
    top: 40%;
}

.playlistWrapper:hover .prev i,
.playlistWrapper:hover .next i {
    opacity: 1;
    visibility: visible;
}

.grid-container {
    margin: 0 -10px;
  }
  .grid-item {
    width: calc(100% / 8 - 20px);
    cursor: pointer;
    margin: 0 10px 40px;
  }

  @media (max-width: 1200px) {
    .grid-item {
        width: calc(100% / 6 - 20px);
      }
}

@media (max-width: 768px) {
    .prev,
    .next {
        display: none;
    }
    .grid-item {
        width: calc(100% / 4 - 20px);
      }
}

@media (max-width: 575px) {
    .grid-item {
        width: calc(100% / 3 - 20px);
      }
      h1{
          font-size: 22px;
      }
}

@media (max-width: 375px) {
    .grid-item {
        width: calc(100% / 2 - 20px);
      }
}